@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    font-family: 'Barlow Condensed', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        134.34% 134.34% at 50% 0%,
        #1f3757 0%,
        #131537 100%); 
}
.header{
    width: 700px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.logo{
    margin: 20px;
}
.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    
}
.score p {
    font-size: 20px;
    color: #1f3757;
}

.score h1{
    font-size: 50px;
}



.handsigns{
    background-image: url(/assets/triangle.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 476px;
    height: 430px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.handsigns .hand{
    cursor: pointer;
    transition: all 0.25s;
}

.handsigns .hand:hover {
    transform: translate3d(0px, -8px, 0px);
}

.paper{
    margin-right: 25px;
}

.scissors{
    margin-left: 25px;
}

.contest{
    display:flex;
    justify-content: space-between;
    display: none;
    margin-top: 50px;
    width: 900px;     
}

.player{
    width: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.computer{
    width: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.result{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.player h1{
    color: aliceblue;
}

.computer h1{
    color: aliceblue;
}

#theResults{
    color: rgba(255, 207, 49, 0.836);
}


#playAgainButton{
    font-size: 20px;
    font-weight: bold;
    color: #1f3757;
    background-color: aliceblue;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
}

#playAgainButton{
    cursor: pointer;
    transition: all 0.25s;
}

#playAgainButton:hover{
    transform: translate3d(0px , -8px , 0px);
}

.finalGame{
    display: none;
    color: rgb(0, 0, 0);
    font-size: 100px;
    position:absolute;
    top: 300px;
    font-weight: bold;

}
